.cproject
.project
.settings/
file_test
test1
testprojects/testproject/build
testprojects/testproject/build
testprojects/moduleproject/build/
*.pcm
*.d
*.tmp
*.o
*.a
*.so
*_test


#project files
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
*.creator.user

